<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Atlas-Rhythm GH Packages" value="https://nuget.pkg.github.com/Atlas-Rhythm/index.json" />
		<add key="ErisApps GH Packages" value="https://nuget.pkg.github.com/ErisApps/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>